@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
.loading-view {
  position: absolute;
  z-index: 100000;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; }

.loading-view .sk-rect {
  background-color: #fff !important; }

.loading-view.lv-hide {
  pointer-events: none;
  opacity: .1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate3d(0px, -100%, 0px);
  -moz-transform: translate3d(0px, -100%, 0px);
  -o-transform: translate3d(0px, -100%, 0px);
  -ms-transform: translate3d(0px, -100%, 0px);
  transform: translate3d(0px, -100%, 0px); }

.loading-view.lv-show {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.loading-view span {
  color: #aaa;
  font-size: 12px;
  font-weight: 200; }

.loading-view .wrap {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 32px); }

.loading-view img {
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2.5s ease-in-out infinite;
  -moz-animation: spin 2.5s ease-in-out infinite;
  animation: spin 2.5s ease-in-out infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.navbar-desktop {
  height: 66px;
  background-color: transparent;
  z-index: 10000;
  padding-left: 20px;
  padding-right: 40px; }

.navbar-desktop .navbar-nav {
  list-style: none;
  padding: 0;
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar-desktop .navbar-nav li {
  position: relative;
  padding: 0 20px;
  height: 66px;
  line-height: 66px; }

.navbar-desktop .navbar-nav li:last-child {
  margin-right: 20px; }

.navbar-desktop .navbar-nav li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffc600;
  font-weight: 500;
  font-stretch: normal; }

.navbar-desktop .navbar-nav li a.active {
  color: #444;
  pointer-events: none; }

.navbar-desktop .navbar-nav li a.active:before {
  background-color: #444;
  height: 2px; }

.navbar-desktop .navbar-nav li a.active:hover {
  color: #444; }

.navbar-desktop .navbar-nav li a.active:hover:before {
  background-color: #444;
  height: 2px; }

.navbar-desktop .navbar-nav li a:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 22px;
  left: calc(50% - 11px);
  bottom: 10px;
  background-color: #ffc600;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.navbar-desktop .navbar-nav li a:hover {
  text-decoration: none;
  color: #ffc600; }

.navbar-desktop .navbar-nav li a:hover:before {
  background-color: #ffc600;
  height: 3px; }

.navbar-desktop .social {
  list-style: none;
  padding: 0;
  display: inline-block;
  float: right;
  position: relative; }

.navbar-desktop .social li {
  float: left;
  height: 66px;
  line-height: 66px; }

.navbar-desktop .social a {
  font-size: 22px; }

.navbar-desktop .social a.facebook {
  color: #3b5998; }

.navbar-desktop .social a.twitter {
  color: #1da1f2; }

.navbar-desktop .social a.soundcloud {
  color: #ff3300; }

.navbar-desktop .social a.instagram {
  color: #ffdc80; }

.navbar-desktop .social:before {
  content: "Follow me";
  position: absolute;
  left: -60px;
  top: 27px;
  width: 60px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 200;
  text-transform: uppercase;
  font-size: 10px; }

.navbar-mobile {
  height: 44px;
  min-height: 44px;
  background-color: transparent;
  z-index: 999999; }

.navbar-mobile h1 {
  margin: 0;
  height: 44px; }

.navbar-mobile h1 a {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 41px;
  height: 32px;
  text-indent: -9999px;
  background: url(../assets/logo@2x.png) no-repeat center;
  background-size: 41px 32px; }

.navbar-mobile button {
  height: 44px;
  background-color: transparent;
  border: none;
  color: #ffc600; }

.navbar-mobile button i {
  font-size: 1.6em;
  color: #ffc600;
  padding-left: 5px;
  position: relative;
  top: 2px; }

.navbar-mobile button span {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 5px;
  line-height: 26px; }

#mobileMenuModal {
  z-index: 1000000; }

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0 !important; }

.modal-dialog * {
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  border: none; }

.modal-dialog h1 {
  margin: 0;
  height: 44px; }

.modal-dialog h1 a {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 41px;
  height: 32px;
  text-indent: -9999px;
  background: url(../assets/logo-white@2x.png) no-repeat center;
  background-size: 41px 32px; }

.modal-dialog .modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222; }

.modal-dialog .modal-content .row:first-child {
  background-color: #000; }

.modal-dialog button {
  height: 44px;
  background-color: #000;
  border: none;
  color: #ddd; }

.modal-dialog button i {
  font-size: 2.5em;
  color: #ffc600;
  position: relative;
  bottom: 9px;
  margin-left: 5px; }

.modal-dialog button span {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 5px;
  line-height: 41px; }

.modal-dialog ul {
  list-style: none;
  padding: 0; }

.modal-dialog ul a {
  display: block;
  height: 88px;
  line-height: 88px;
  border-bottom: 1px solid #333;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
  color: #ffc600; }

.modal-dialog ul a:hover, .modal-dialog ul a:active {
  text-decoration: none;
  background-color: #ffc600;
  border: none;
  color: #fff; }

.centered-img {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 203px);
  width: 500px;
  height: 220px; }

@media (max-width: 767px) {
  .centered-img {
    top: calc(50% - 55px);
    left: calc(50% - 125px);
    width: 250px;
    height: 110px; }
  .centered-img img {
    width: 250px;
    height: 110px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .centered-img {
    top: calc(50% - 55px);
    left: calc(50% - 125px);
    width: 250px;
    height: 110px; }
  .centered-img img {
    width: 250px;
    height: 110px; } }

#contactModal {
  z-index: 100000 !important;
  background-color: #fff;
  max-width: 800px;
  min-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#contactModal.isOpen {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

#contactModal.isNotOpen {
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

@media (min-width: 1200px) {
  #contactModal {
    left: calc(50% - 400px); } }

.page.tourdates {
  padding-top: 66px; }

.page.tourdates ul {
  list-style: none;
  padding: 0; }

.page.tourdates ul .restrict {
  display: inline-block;
  margin-left: 40px;
  height: 44px;
  line-height: 44px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.page.tourdates ul .restrict:hover {
  background-color: #ffc600;
  cursor: pointer;
  padding-left: 20px; }

.page.tourdates ul .restrict:hover .date, .page.tourdates ul .restrict:hover .location, .page.tourdates ul .restrict:hover .time {
  color: #000; }

.page.tourdates ul .restrict:hover .button {
  display: inline-block; }

.page.tourdates ul .restrict:hover .button a {
  color: #000; }

.page.tourdates ul .tourdate {
  font-family: 'Oswald', sans-serif;
  font-size: 16px; }

.page.tourdates ul .tourdate:first-child {
  margin-top: 44px; }

.page.tourdates ul .date, .page.tourdates ul .location, .page.tourdates ul .time, .page.tourdates ul .button {
  color: #aaa;
  display: inline-block; }

.page.tourdates ul .time {
  width: 90px; }

.page.tourdates ul .date:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 0 22px;
  position: relative;
  bottom: 4px; }

.page.tourdates ul .day {
  display: inline-block;
  min-width: 75px; }

.page.tourdates ul .location {
  min-width: 350px; }

.page.tourdates ul .location .venue {
  color: #444;
  margin-left: 10px; }

.page.tourdates ul .location .city, .page.tourdates ul .location .venue {
  display: inline-block; }

.page.tourdates ul .button a {
  font-size: 12px;
  height: 44px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 20px;
  margin-left: 20px;
  color: #ffc600;
  display: block;
  position: relative;
  bottom: 2px;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.page.tourdates ul .button a:hover {
  text-decoration: none;
  background-color: #e1ac00; }

.page.music #player {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; }

.page.music #player .cover {
  margin-right: 20px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2); }

.page.music #player .cta {
  width: 400px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.page.music #player .cta .current {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  bottom: 3px; }

.page.music #player .buttons {
  display: inline-block; }

.page.music #player #actions button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-decoration: none;
  outline-style: none; }

.page.music #player #actions .play {
  border: 1px solid #ffc600;
  -webkit-border-radius: 44px;
  border-radius: 44px; }

.page.music #player #actions .play i {
  position: relative;
  bottom: 1px;
  left: 1px;
  top: inherit; }

.page.music #player .playlist {
  width: 400px;
  list-style: none;
  padding: 0; }

.page.music #player .playlist a {
  display: block;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #888;
  font-size: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 1px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.page.music #player .playlist a span {
  pointer-events: none; }

.page.music #player .playlist a.current {
  background-color: white;
  color: #000; }

.page.music #player .playlist a.current:hover {
  background-color: white; }

.page.music #player .playlist a.current .nb:after {
  background-color: #000 !important; }

.page.music #player .playlist a:hover {
  background-color: #ffc600;
  color: #000; }

.page.music #player .playlist a:hover .nb:after {
  background-color: #fff; }

.page.music #player .playlist .nb:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #888;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 8px;
  position: relative;
  bottom: 2px; }

#progressBar {
  position: relative;
  width: 200px;
  height: 16px;
  display: inline-block;
  margin-left: 10px; }

#progressBar #bar-outer {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 7px; }

#progressBar #bar-inner {
  position: absolute;
  height: 4px;
  background-color: #ffc600; }

#progressBar #position {
  background-color: #fff !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  text-indent: -9999px;
  position: absolute;
  left: -8px;
  top: -6px;
  -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1); }

#progressBar #position:before {
  content: "";
  display: block;
  background-color: #000;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px); }

body {
  background-color: transparent !important; }

.page {
  padding-top: 122px; }

@media (max-width: 767px) {
  .page {
    padding-top: 44px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page {
    padding-top: 44px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page {
    padding-top: 44px; } }
