@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
.loading-view {
  position: absolute;
  z-index: 100000;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; }

.loading-view .sk-rect {
  background-color: #fff !important; }

.loading-view.lv-hide {
  pointer-events: none;
  opacity: .1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate3d(0px, -100%, 0px);
  -moz-transform: translate3d(0px, -100%, 0px);
  -o-transform: translate3d(0px, -100%, 0px);
  -ms-transform: translate3d(0px, -100%, 0px);
  transform: translate3d(0px, -100%, 0px); }

.loading-view.lv-show {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.loading-view span {
  color: #aaa;
  font-size: 12px;
  font-weight: 200; }

.loading-view .wrap {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 32px); }

.loading-view img {
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2.5s ease-in-out infinite;
  -moz-animation: spin 2.5s ease-in-out infinite;
  animation: spin 2.5s ease-in-out infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.navbar-desktop {
  height: 66px;
  background-color: transparent;
  z-index: 10000; }

.navbar-desktop nav {
  text-align: center; }

.navbar-desktop ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  float: none;
  vertical-align: top; }

.navbar-desktop li {
  position: relative;
  padding: 0 20px;
  height: 66px;
  line-height: 66px; }

.navbar-desktop li:last-child {
  margin-right: 20px; }

.navbar-desktop li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffc600;
  font-weight: 700;
  font-stretch: normal; }

.navbar-desktop li a.active {
  color: #444;
  pointer-events: none; }

.navbar-desktop li a.active:before {
  background-color: #444;
  height: 3px; }

.navbar-desktop li a.active:hover {
  color: #444; }

.navbar-desktop li a.active:hover:before {
  background-color: #444;
  height: 3px; }

.navbar-desktop li a:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ffc600;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.navbar-desktop li a:hover {
  text-decoration: none;
  color: #ffc600; }

.navbar-desktop li a:hover:before {
  background-color: #ffc600;
  height: 3px; }

.navbar-mobile {
  height: 44px;
  min-height: 44px;
  background-color: transparent;
  z-index: 999999; }

.navbar-mobile h1 {
  margin: 0;
  height: 44px; }

.navbar-mobile h1 a {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 41px;
  height: 32px;
  text-indent: -9999px;
  background: url(../assets/logo@2x.png) no-repeat center;
  background-size: 41px 32px; }

.navbar-mobile button {
  height: 44px;
  background-color: transparent;
  border: none;
  color: #ffc600; }

.navbar-mobile button i {
  font-size: 1.6em;
  color: #ffc600;
  padding-left: 5px;
  position: relative;
  top: 2px; }

.navbar-mobile button span {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 5px;
  line-height: 26px; }

#mobileMenuModal {
  z-index: 1000000; }

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0 !important; }

.modal-dialog * {
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  border: none; }

.modal-dialog h1 {
  margin: 0;
  height: 44px; }

.modal-dialog h1 a {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 41px;
  height: 32px;
  text-indent: -9999px;
  background: url(../assets/logo-white@2x.png) no-repeat center;
  background-size: 41px 32px; }

.modal-dialog .modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222; }

.modal-dialog .modal-content .row:first-child {
  background-color: #000; }

.modal-dialog button {
  height: 44px;
  background-color: #000;
  border: none;
  color: #ddd; }

.modal-dialog button i {
  font-size: 2.5em;
  color: #ffc600;
  position: relative;
  bottom: 9px;
  margin-left: 5px; }

.modal-dialog button span {
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 5px;
  line-height: 41px; }

.modal-dialog ul {
  list-style: none;
  padding: 0; }

.modal-dialog ul a {
  display: block;
  height: 88px;
  line-height: 88px;
  border-bottom: 1px solid #333;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 100;
  color: #ffc600; }

.modal-dialog ul a:hover, .modal-dialog ul a:active {
  text-decoration: none;
  background-color: #ffc600;
  border: none;
  color: #fff; }

.centered-img {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 203px);
  width: 500px;
  height: 220px; }

@media (max-width: 767px) {
  .centered-img {
    top: calc(50% - 55px);
    left: calc(50% - 125px);
    width: 250px;
    height: 110px; }
  .centered-img img {
    width: 250px;
    height: 110px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .centered-img {
    top: calc(50% - 55px);
    left: calc(50% - 125px);
    width: 250px;
    height: 110px; }
  .centered-img img {
    width: 250px;
    height: 110px; } }

.page.contact h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  font-weight: 400;
  color: #fff; }

@media (max-width: 767px) {
  .page.contact h2 {
    text-align: center; } }

@media (max-width: 767px) {
  .page.contact .emails {
    margin-top: 40px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.contact .emails {
    margin-top: 40px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.contact .emails {
    margin-top: 40px; } }

.page.contact .emails .box {
  position: relative;
  width: 100%; }

.page.contact .emails .box:before {
  content: "";
  display: block;
  padding-top: 100%; }

@media (max-width: 767px) {
  .page.contact .emails .box {
    width: auto;
    margin-bottom: 20px; }
  .page.contact .emails .box:before {
    padding: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.contact .emails .box {
    width: auto;
    margin-bottom: 20px; }
  .page.contact .emails .box:before {
    padding: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.contact .emails .box {
    width: auto;
    margin-bottom: 20px; }
  .page.contact .emails .box:before {
    padding: 0; } }

.page.contact .emails a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px;
  background-color: #ffc600; }

.page.contact .emails a:hover {
  text-decoration: none; }

@media (max-width: 767px) {
  .page.contact .emails a {
    position: static;
    padding: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.contact .emails a {
    position: static;
    padding: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.contact .emails a {
    position: static;
    padding: 0; } }

.page.contact .emails h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 60px; }

.page.contact .emails h3:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 4px;
  width: 22px;
  background-color: #000; }

@media (max-width: 767px) {
  .page.contact .emails h3 {
    display: block !important;
    position: static;
    font-size: 22px;
    padding: 20px;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.contact .emails h3 {
    display: block !important;
    position: static;
    font-size: 22px;
    padding: 20px;
    text-align: center; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.contact .emails h3 {
    display: block !important;
    position: static;
    font-size: 32px;
    padding: 20px;
    text-align: center; } }

.page.tourdates {
  padding-top: 66px; }

.page.tourdates .navbar-desktop {
  background-color: #000; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates {
    padding-top: 44px; } }

@media (max-width: 767px) {
  .page.tourdates {
    padding-top: 44px; } }

.page.tourdates ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.page.tourdates li {
  height: 66px; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates li {
    height: auto;
    text-align: center; } }

@media (max-width: 767px) {
  .page.tourdates li {
    height: auto;
    text-align: center; } }

.page.tourdates .odd {
  background-color: #222; }

.page.tourdates .even {
  background-color: #111; }

.page.tourdates .even, .page.tourdates .odd {
  padding: 0 100px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates .even, .page.tourdates .odd {
    padding: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .even, .page.tourdates .odd {
    padding: 20px 0; } }

@media (max-width: 767px) {
  .page.tourdates .even, .page.tourdates .odd {
    padding: 20px 0; } }

.page.tourdates .day {
  color: #fff;
  font-size: 44px;
  font-weight: 100;
  float: left;
  display: block;
  position: relative;
  top: 1px; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .day {
    font-size: 14px;
    float: none;
    display: inline-block;
    top: 0;
    font-weight: 200;
    color: #888; } }

@media (max-width: 767px) {
  .page.tourdates .day {
    font-size: 14px;
    float: none;
    display: inline-block;
    top: 0;
    font-weight: 200;
    color: #888; } }

.page.tourdates .cont {
  float: left;
  position: relative;
  max-width: 100px; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .cont {
    max-width: none;
    float: none;
    display: inline-block; } }

@media (max-width: 767px) {
  .page.tourdates .cont {
    max-width: none;
    float: none;
    display: inline-block; } }

.page.tourdates .month, .page.tourdates .year {
  color: #888;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 10px; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .month, .page.tourdates .year {
    position: static; } }

@media (max-width: 767px) {
  .page.tourdates .month, .page.tourdates .year {
    position: static; } }

.page.tourdates .year {
  top: 32px; }

.page.tourdates .city {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .city {
    font-size: 22px; } }

@media (max-width: 767px) {
  .page.tourdates .city {
    font-size: 22px; } }

.page.tourdates .venue {
  color: #888;
  font-size: 14px;
  font-weight: 200; }

.page.tourdates .city, .page.tourdates .venue {
  position: relative;
  top: 12px; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .city, .page.tourdates .venue {
    top: 0; } }

@media (max-width: 767px) {
  .page.tourdates .city, .page.tourdates .venue {
    top: 0; } }

.page.tourdates .scheduled {
  font-size: 24px;
  font-weight: 100;
  color: #888;
  padding-top: 16px; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .scheduled {
    padding-top: 0;
    font-size: 16px;
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .page.tourdates .scheduled {
    padding-top: 0;
    font-size: 16px;
    margin-bottom: 20px; } }

.page.tourdates .btnT {
  display: inline-block;
  height: 44px;
  padding: 0 20px;
  line-height: 44px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  background-color: #ffc600;
  position: relative;
  top: 10px;
  float: right; }

.page.tourdates .btnT:hover {
  text-decoration: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .btnT {
    float: none;
    top: 0; } }

@media (max-width: 767px) {
  .page.tourdates .btnT {
    float: none;
    top: 0; } }

.page.music .navbar-desktop {
  background-color: #000; }

.page.music #player .progressbar {
  width: 450px;
  height: 16px;
  margin: 0 auto;
  position: relative; }

.page.music #player .progressbar .current, .page.music #player .progressbar .duration {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  position: absolute; }

.page.music #player .progressbar .current {
  left: 0; }

.page.music #player .progressbar .duration {
  right: 0; }

.page.music #player .actions {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 66px;
  padding-right: 400px;
  background-color: #111; }

.page.music #player .actions .custom-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.page.music #player .actions button {
  background-color: transparent;
  border: none;
  font-size: 44px;
  color: #fff;
  height: 88px;
  width: 88px;
  line-height: 88px;
  text-decoration: none;
  outline-style: none; }

.page.music #player .actions .backward, .page.music #player .actions .forward {
  font-size: 28px; }

.page.music #player .actions .play i {
  position: relative;
  top: 10px; }

.page.music #player .actions .name {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 10px; }

.page.music #player .playlist {
  position: fixed;
  height: 100%;
  width: 400px;
  right: 0;
  top: 0;
  padding-top: 66px !important;
  background-color: #ffc600;
  list-style: none;
  padding: 0; }

.page.music #player .playlist .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.page.music #player .playlist a {
  display: block;
  padding: 20px 30px;
  text-decoration: none; }

.page.music #player .playlist a span {
  pointer-events: none; }

.page.music #player .playlist a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05); }

.page.music #player .playlist .nb {
  color: #000;
  font-size: 22px;
  font-weight: 200;
  display: block;
  float: left;
  margin-right: 20px;
  position: relative;
  top: 5px; }

.page.music #player .playlist .title {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  display: block; }

.page.music #player .playlist .artist {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  opacity: .5;
  display: block; }

#progressBar {
  position: absolute;
  width: 380px;
  height: 16px;
  left: 35px; }

#progressBar #bar-outer {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 7px; }

#progressBar #bar-inner {
  position: absolute;
  height: 4px;
  background-color: #ffc600; }

#progressBar #position {
  background-color: #fff !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  text-indent: -9999px;
  position: absolute;
  left: -8px;
  top: -6px;
  -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1); }

body {
  background-color: transparent !important; }

.page {
  padding-top: 122px; }

@media (max-width: 767px) {
  .page {
    padding-top: 44px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page {
    padding-top: 44px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page {
    padding-top: 44px; } }
