@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
.loading-view {
  position: absolute;
  z-index: 100000;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; }

.loading-view .sk-rect {
  background-color: #fff !important; }

.loading-view.lv-hide {
  pointer-events: none;
  opacity: .1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translate3d(0px, -100%, 0px);
  -moz-transform: translate3d(0px, -100%, 0px);
  -o-transform: translate3d(0px, -100%, 0px);
  -ms-transform: translate3d(0px, -100%, 0px);
  transform: translate3d(0px, -100%, 0px); }

.loading-view.lv-show {
  pointer-events: all;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.loading-view span {
  color: #aaa;
  font-size: 12px;
  font-weight: 200; }

.loading-view .wrap {
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 32px); }

.loading-view img {
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2.5s ease-in-out infinite;
  -moz-animation: spin 2.5s ease-in-out infinite;
  animation: spin 2.5s ease-in-out infinite; }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

.navbar-main {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10000;
  padding-left: 20px;
  padding-right: 40px;
  min-height: 44px; }

@media (min-width: 1200px) {
  .navbar-main {
    height: 66px;
    top: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-main {
    bottom: 0;
    padding: 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 44px;
    margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-main {
    bottom: 0;
    padding: 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 44px;
    margin: 0; } }

@media (max-width: 767px) {
  .navbar-main {
    bottom: 0;
    padding: 0;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 44px;
    margin: 0; } }

.navbar-main .navbar-nav {
  list-style: none;
  padding: 0;
  display: inline-block;
  float: none;
  vertical-align: top; }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-main .navbar-nav {
    display: block;
    margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-main .navbar-nav {
    display: block;
    margin: 0; } }

@media (max-width: 767px) {
  .navbar-main .navbar-nav {
    display: block;
    margin: 0; } }

.navbar-main .navbar-nav li {
  position: relative;
  padding: 0 20px;
  height: 66px;
  line-height: 66px; }

.navbar-main .navbar-nav li:last-child {
  margin-right: 20px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-main .navbar-nav li {
    height: 44px;
    line-height: 44px;
    padding: 0;
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-main .navbar-nav li:last-child {
    margin-right: 0;
    border-right: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-main .navbar-nav li {
    height: 44px;
    line-height: 44px;
    padding: 0;
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-main .navbar-nav li:last-child {
    margin-right: 0;
    border-right: none; } }

@media (max-width: 767px) {
  .navbar-main .navbar-nav li {
    height: 44px;
    line-height: 44px;
    padding: 0;
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-main .navbar-nav li:last-child {
    margin-right: 0;
    border-right: none; } }

.navbar-main .navbar-nav li a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffc600;
  font-weight: 500;
  font-stretch: normal; }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-main .navbar-nav li a {
    font-size: 12px;
    padding: 0;
    display: block;
    height: 44px;
    line-height: 44px; }
  .navbar-main .navbar-nav li a:before {
    display: none; }
  .navbar-main .navbar-nav li a:hover, .navbar-main .navbar-nav li a:focus, .navbar-main .navbar-nav li a:active {
    background-color: #ffc600;
    color: #000 !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-main .navbar-nav li a {
    font-size: 12px;
    padding: 0;
    display: block;
    height: 44px;
    line-height: 44px; }
  .navbar-main .navbar-nav li a:before {
    display: none; }
  .navbar-main .navbar-nav li a:hover, .navbar-main .navbar-nav li a:focus, .navbar-main .navbar-nav li a:active {
    background-color: #ffc600;
    color: #000 !important; } }

@media (max-width: 767px) {
  .navbar-main .navbar-nav li a {
    font-size: 12px;
    padding: 0;
    display: block;
    height: 44px;
    line-height: 44px; }
  .navbar-main .navbar-nav li a:before {
    display: none; }
  .navbar-main .navbar-nav li a:hover, .navbar-main .navbar-nav li a:focus, .navbar-main .navbar-nav li a:active {
    background-color: #ffc600;
    color: #000 !important; } }

.navbar-main .navbar-nav li a.active {
  color: #444;
  pointer-events: none; }

.navbar-main .navbar-nav li a.active:before {
  background-color: #444;
  height: 2px; }

.navbar-main .navbar-nav li a.active:hover {
  color: #444; }

.navbar-main .navbar-nav li a.active:hover:before {
  background-color: #444;
  height: 2px; }

.navbar-main .navbar-nav li a:before {
  content: "";
  position: absolute;
  height: 0px;
  width: 22px;
  left: calc(50% - 11px);
  bottom: 10px;
  background-color: #ffc600;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.navbar-main .navbar-nav li a:hover {
  text-decoration: none;
  color: #ffc600; }

.navbar-main .navbar-nav li a:hover:before {
  background-color: #ffc600;
  height: 3px; }

.navbar-main .social {
  list-style: none;
  padding: 0;
  display: inline-block;
  float: right;
  position: relative; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-main .social {
    display: none; } }

@media (max-width: 767px) {
  .navbar-main .social {
    display: none; } }

.navbar-main .social li {
  float: left;
  height: 66px;
  line-height: 66px; }

.navbar-main .social a {
  font-size: 22px; }

.navbar-main .social a.facebook {
  color: #3b5998; }

.navbar-main .social a.twitter {
  color: #1da1f2; }

.navbar-main .social a.soundcloud {
  color: #ff3300; }

.navbar-main .social a.instagram {
  color: #ffdc80; }

.navbar-main .social:before {
  content: "Follow me";
  position: absolute;
  left: -60px;
  top: 27px;
  width: 60px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 200;
  text-transform: uppercase;
  font-size: 10px; }

.main.page .navbar-main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (min-width: 1200px) {
  .main.page.contactModalIsOpen .centered-img {
    -webkit-opacity: .1;
    -moz-opacity: .1;
    opacity: .1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .main.page.contactModalIsOpen .centered-img {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .main.page.contactModalIsOpen .centered-img {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (max-width: 767px) {
  .main.page.contactModalIsOpen .centered-img {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (min-width: 1200px) {
  .main.page.contactModalIsOpen .navbar-main {
    -webkit-opacity: .1;
    -moz-opacity: .1;
    opacity: .1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .main.page.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (min-width: 768px) and (max-width: 991px) {
  .main.page.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (max-width: 767px) {
  .main.page.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

.centered-img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 203px);
  width: 500px;
  height: 220px; }

@media (max-width: 767px) {
  .centered-img {
    top: calc(50% - 53px);
    left: calc(50% - 102px);
    width: 203px;
    height: 106px; }
  .centered-img img {
    width: 203px;
    height: 106px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .centered-img {
    top: calc(50% - 53px);
    left: calc(50% - 102px);
    width: 203px;
    height: 106px; }
  .centered-img img {
    width: 203px;
    height: 106px; } }

#contactModal {
  z-index: 100000 !important;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  width: 600px;
  top: 0;
  opacity: 0;
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal {
    width: 100%;
    height: 100%;
    background-color: transparent; } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal {
    width: 100%;
    height: 100%;
    background-color: transparent; } }

@media (max-width: 767px) {
  #contactModal {
    width: 100%;
    height: 100%;
    background-color: transparent; } }

#contactModal.isOpen {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
  opacity: 1; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal.isOpen {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal.isOpen {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; } }

@media (max-width: 767px) {
  #contactModal.isOpen {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; } }

#contactModal.isNotOpen {
  -moz-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0; }

#contactModal h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding: 30px;
  border-bottom: 1px solid #eee; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal h1 {
    font-size: 22px;
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.1); } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal h1 {
    font-size: 22px;
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.1); } }

@media (max-width: 767px) {
  #contactModal h1 {
    font-size: 22px;
    color: #fff;
    border-bottom-color: rgba(255, 255, 255, 0.1); } }

#contactModal h1 button {
  font-size: 14px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #ccc;
  position: relative;
  top: 3px; }

#contactModal h1 button:hover, #contactModal h1 button:active, #contactModal h1 button:focus {
  color: #000; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal h1 button:hover, #contactModal h1 button:active, #contactModal h1 button:focus {
    color: #ffc600; } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal h1 button:hover, #contactModal h1 button:active, #contactModal h1 button:focus {
    color: #ffc600; } }

@media (max-width: 767px) {
  #contactModal h1 button:hover, #contactModal h1 button:active, #contactModal h1 button:focus {
    color: #ffc600; } }

#contactModal .content {
  padding: 30px; }

#contactModal .card {
  margin-bottom: 40px; }

@media (max-width: 767px) and (orientation: landscape) {
  #contactModal .card {
    margin-bottom: 20px; } }

#contactModal .card.last {
  margin-bottom: 0; }

#contactModal .card h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #bbb;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 5px !important; }

#contactModal .card a {
  font-size: 14px;
  color: #e1ac00; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal .card a {
    font-size: 22px;
    font-weight: 400; }
  #contactModal .card a:hover, #contactModal .card a:active, #contactModal .card a:focus {
    color: #ffc600;
    text-decoration: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal .card a {
    font-size: 22px; }
  #contactModal .card a:hover, #contactModal .card a:active, #contactModal .card a:focus {
    color: #ffc600;
    text-decoration: none; } }

@media (max-width: 767px) {
  #contactModal .card a {
    font-size: 22px; }
  #contactModal .card a:hover, #contactModal .card a:active, #contactModal .card a:focus {
    color: #ffc600;
    text-decoration: none; } }

@media (max-width: 767px) and (orientation: landscape) {
  #contactModal .card a {
    font-size: 16px; } }

#contactModal .social h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #bbb;
  padding-top: 0;
  margin-top: 0; }

#contactModal .social ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  position: relative; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal .social ul {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal .social ul {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 20px; } }

@media (max-width: 767px) {
  #contactModal .social ul {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    padding: 0 20px; } }

@media (max-width: 767px) and (orientation: portrait) {
  #contactModal .social ul {
    left: 0; } }

@media (max-width: 767px) and (orientation: landscape) {
  #contactModal .social ul {
    width: 100px;
    right: 0; } }

#contactModal .social li {
  float: left; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal .social li {
    width: 25%; } }

@media (min-width: 768px) and (max-width: 991px) {
  #contactModal .social li {
    width: 25%; } }

@media (max-width: 767px) {
  #contactModal .social li {
    width: 25%; } }

@media (max-width: 767px) and (orientation: landscape) {
  #contactModal .social li {
    width: 100%; } }

#contactModal .social a {
  font-size: 44px; }

@media (min-width: 992px) and (max-width: 1199px) {
  #contactModal .social a {
    font-size: 66px; } }

@media (max-width: 767px) and (orientation: landscape) {
  #contactModal .social a {
    font-size: 32px; } }

#contactModal .social a.facebook {
  color: #3b5998; }

#contactModal .social a.twitter {
  color: #1da1f2; }

#contactModal .social a.soundcloud {
  color: #ff3300; }

#contactModal .social a.instagram {
  color: #ffdc80; }

#contactModal .social a.youtube {
  color: #cd201f; }

.page.tourdates {
  padding-top: 66px; }

.page.tourdates .navbar-main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (min-width: 1200px) {
  .page.tourdates.contactModalIsOpen .container-fluid {
    -webkit-opacity: .1;
    -moz-opacity: .1;
    opacity: .1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates.contactModalIsOpen .container-fluid {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates.contactModalIsOpen .container-fluid {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (max-width: 767px) {
  .page.tourdates.contactModalIsOpen .container-fluid {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (min-width: 1200px) {
  .page.tourdates.contactModalIsOpen .navbar-main {
    -webkit-opacity: .1;
    -moz-opacity: .1;
    opacity: .1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (max-width: 767px) {
  .page.tourdates.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates {
    padding-top: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates {
    padding-top: 0; } }

@media (max-width: 767px) {
  .page.tourdates {
    padding-top: 0; } }

.page.tourdates .container-fluid {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates .container-fluid {
    margin: 0;
    padding: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .container-fluid {
    margin: 0;
    padding: 0; } }

@media (max-width: 767px) {
  .page.tourdates .container-fluid {
    margin: 0;
    padding: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates .mobileOverflow {
    height: 100%;
    margin: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 44px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .mobileOverflow {
    height: 100%;
    margin: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 44px; } }

@media (max-width: 767px) {
  .page.tourdates .mobileOverflow {
    height: 100%;
    margin: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 44px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates .mobileOverflow ul {
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    overflow: auto; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .mobileOverflow ul {
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    overflow: auto; } }

@media (max-width: 767px) {
  .page.tourdates .mobileOverflow ul {
    height: 100%;
    margin: 0;
    position: absolute;
    width: 100%;
    overflow: auto; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates .mobileOverflow .relativePos {
    position: relative;
    height: 100%;
    overflow: hidden; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates .mobileOverflow .relativePos {
    position: relative;
    height: 100%;
    overflow: hidden; } }

@media (max-width: 767px) {
  .page.tourdates .mobileOverflow .relativePos {
    position: relative;
    height: 100%;
    overflow: hidden; } }

.page.tourdates ul {
  list-style: none;
  padding: 0; }

.page.tourdates ul .restrict {
  display: inline-block;
  margin-left: 40px;
  height: 44px;
  line-height: 44px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .restrict {
    margin-left: 0;
    height: auto;
    line-height: inherit;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .restrict {
    margin-left: 0;
    height: auto;
    line-height: inherit;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0; } }

@media (max-width: 767px) {
  .page.tourdates ul .restrict {
    margin-left: 0;
    height: auto;
    line-height: inherit;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0; } }

@media (min-width: 1200px) {
  .page.tourdates ul .restrict:active {
    background-color: #ffc600;
    cursor: pointer;
    padding-left: 20px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .restrict:active {
    background-color: #ffc600; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .restrict:active {
    background-color: #ffc600; } }

@media (max-width: 767px) {
  .page.tourdates ul .restrict:active {
    background-color: #ffc600; } }

.page.tourdates ul .restrict:active .date, .page.tourdates ul .restrict:active .location, .page.tourdates ul .restrict:active .time {
  color: #000; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .restrict:active .venue {
    color: #000; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .restrict:active .venue {
    color: #000; } }

@media (max-width: 767px) {
  .page.tourdates ul .restrict:active .venue {
    color: #000; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .restrict:active .date {
    color: rgba(0, 0, 0, 0.5); } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .restrict:active .date {
    color: rgba(0, 0, 0, 0.5); } }

@media (max-width: 767px) {
  .page.tourdates ul .restrict:active .date {
    color: rgba(0, 0, 0, 0.5); } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .restrict:active .city {
    color: rgba(0, 0, 0, 0.5); } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .restrict:active .city {
    color: rgba(0, 0, 0, 0.5); } }

@media (max-width: 767px) {
  .page.tourdates ul .restrict:active .city {
    color: rgba(0, 0, 0, 0.5); } }

@media (min-width: 1200px) {
  .page.tourdates ul .restrict:hover {
    background-color: #ffc600;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none; } }

@media (min-width: 1200px) {
  .page.tourdates ul .restrict:hover .venue {
    color: #000; } }

@media (min-width: 1200px) {
  .page.tourdates ul .restrict:hover .date {
    color: #000; } }

@media (min-width: 1200px) {
  .page.tourdates ul .restrict:hover .city {
    color: rgba(0, 0, 0, 0.5); } }

@media (min-width: 1200px) {
  .page.tourdates ul .restrict:hover .time {
    color: #000; } }

.page.tourdates ul .restrict:hover button {
  color: #000; }

.page.tourdates ul .tourdate {
  font-family: 'Oswald', sans-serif;
  font-size: 16px; }

.page.tourdates ul .tourdate:first-child {
  margin-top: 44px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .tourdate:first-child {
    margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .tourdate:first-child {
    margin: 0; } }

@media (max-width: 767px) {
  .page.tourdates ul .tourdate:first-child {
    margin: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .tourdate {
    margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .tourdate {
    margin: 0; } }

@media (max-width: 767px) {
  .page.tourdates ul .tourdate {
    margin: 0; } }

.page.tourdates ul .date, .page.tourdates ul .location, .page.tourdates ul .time, .page.tourdates ul .button {
  color: #aaa;
  display: inline-block; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .date, .page.tourdates ul .location, .page.tourdates ul .time, .page.tourdates ul .button {
    display: block;
    width: 100%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .date, .page.tourdates ul .location, .page.tourdates ul .time, .page.tourdates ul .button {
    display: block;
    width: 100%; } }

@media (max-width: 767px) {
  .page.tourdates ul .date, .page.tourdates ul .location, .page.tourdates ul .time, .page.tourdates ul .button {
    display: block;
    width: 100%; } }

.page.tourdates ul .time {
  width: 90px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .date {
    font-size: 14px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .date {
    font-size: 10px; } }

@media (max-width: 767px) {
  .page.tourdates ul .date {
    font-size: 10px; } }

.page.tourdates ul .date:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  margin: 0 22px;
  position: relative;
  bottom: 4px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .date:after {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .date:after {
    display: none; } }

@media (max-width: 767px) {
  .page.tourdates ul .date:after {
    display: none; } }

.page.tourdates ul .day {
  display: inline-block;
  min-width: 75px; }

.page.tourdates ul .location {
  min-width: 350px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .location {
    min-width: inherit;
    color: #fff; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .location {
    min-width: inherit;
    color: #fff; } }

@media (max-width: 767px) {
  .page.tourdates ul .location {
    min-width: inherit;
    color: #fff; } }

@media (min-width: 1200px) {
  .page.tourdates ul .location .venue {
    color: #aaa; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .location .venue {
    display: block;
    width: 100%;
    margin-left: 0;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .location .venue {
    display: block;
    width: 100%;
    margin-left: 0;
    color: #fff; } }

@media (max-width: 767px) {
  .page.tourdates ul .location .venue {
    mdisplay: block;
    width: 100%;
    margin-left: 0;
    color: #fff; } }

@media (min-width: 1200px) {
  .page.tourdates ul .location .city {
    color: #444; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .location .city {
    color: #888; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .location .city {
    color: #888; } }

@media (max-width: 767px) {
  .page.tourdates ul .location .city {
    color: #888; } }

.page.tourdates ul .location .city, .page.tourdates ul .location .venue {
  display: inline-block; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.tourdates ul .button {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.tourdates ul .button {
    display: none; } }

@media (max-width: 767px) {
  .page.tourdates ul .button {
    display: none; } }

.page.tourdates ul .button button {
  font-size: 12px;
  height: 44px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 20px;
  margin-left: 20px;
  color: #ffc600;
  display: block;
  position: relative;
  bottom: 2px;
  border: none;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  background-color: transparent;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.page.tourdates ul .button button:hover {
  text-decoration: none;
  background-color: #e1ac00; }

@media (min-width: 1200px) {
  .page.music.contactModalIsOpen #player {
    -webkit-opacity: .1;
    -moz-opacity: .1;
    opacity: .1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music.contactModalIsOpen #player {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music.contactModalIsOpen #player {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (max-width: 767px) {
  .page.music.contactModalIsOpen #player {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0; } }

@media (min-width: 1200px) {
  .page.music.contactModalIsOpen .navbar-main {
    -webkit-opacity: .1;
    -moz-opacity: .1;
    opacity: .1; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

@media (max-width: 767px) {
  .page.music.contactModalIsOpen .navbar-main {
    -moz-transform: translateY(44px);
    -webkit-transform: translateY(44px);
    -o-transform: translateY(44px);
    -ms-transform: translateY(44px);
    transform: translateY(44px); } }

.page.music #player {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.page.music #player .cover {
  margin-right: 20px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2); }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .cover {
    margin-right: 0;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .cover {
    margin-right: 0;
    width: 100%;
    padding-top: 40px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none; } }

@media (max-width: 767px) {
  .page.music #player .cover {
    margin-right: 0;
    width: 100%;
    -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.15); } }

@media (max-width: 767px) and (orientation: landscape) {
  .page.music #player .cover {
    padding-top: 20px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .cover img {
    width: 250px;
    height: 250px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .cover img {
    width: 50%;
    height: 50%; } }

@media (max-width: 767px) {
  .page.music #player .cover img {
    width: 100%;
    height: 100%; } }

@media (max-width: 767px) and (orientation: landscape) {
  .page.music #player .cover img {
    width: 125px;
    height: 125px; } }

.page.music #player .cta {
  width: 400px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .cta {
    width: 100%;
    height: 66px;
    position: absolute;
    bottom: 44px;
    margin-bottom: 0;
    border-bottom: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 -25px 25px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 -25px 25px 0 rgba(0, 0, 0, 0.15);
    padding-left: 150px;
    padding-right: 20px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .cta {
    width: 100%;
    height: 66px;
    position: absolute;
    bottom: 44px;
    margin-bottom: 0;
    border-bottom: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 -25px 25px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 -25px 25px 0 rgba(0, 0, 0, 0.15);
    padding-left: 150px;
    padding-right: 20px; } }

@media (max-width: 767px) {
  .page.music #player .cta {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border-bottom: none;
    padding: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; } }

.page.music #player .cta .current {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  position: relative;
  margin-left: 10px;
  bottom: 3px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .cta .current {
    display: none; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .cta .current {
    display: none; } }

@media (max-width: 767px) {
  .page.music #player .cta .current {
    display: none; } }

.page.music #player .buttons {
  display: inline-block; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .buttons {
    position: absolute;
    left: 0;
    top: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .buttons {
    position: absolute;
    left: 0;
    top: 10px; } }

@media (max-width: 767px) {
  .page.music #player .buttons {
    padding: 0; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player #actions {
    width: 100%;
    height: 100%;
    padding-bottom: 110px;
    position: absolute;
    padding-top: 310px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player #actions {
    width: 100%;
    height: 100%;
    padding-bottom: 110px;
    position: absolute;
    padding-top: 470px; } }

@media (max-width: 767px) {
  .page.music #player #actions {
    width: 100%;
    height: 100%;
    padding-bottom: 44px;
    position: absolute;
    padding-top: 100%; } }

@media (max-width: 767px) and (orientation: landscape) {
  .page.music #player #actions {
    padding-top: 160px; } }

.page.music #player #actions button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-decoration: none;
  outline-style: none; }

@media (max-width: 767px) {
  .page.music #player #actions button {
    width: 66px;
    height: 66px;
    line-height: 66px;
    font-size: 20px; } }

.page.music #player #actions .play {
  border: 1px solid #ffc600;
  -webkit-border-radius: 44px;
  border-radius: 44px; }

.page.music #player #actions .play i {
  position: relative;
  bottom: 1px;
  left: 1px;
  top: inherit; }

.page.music #player #actions .sm-current-title {
  height: 0; }

.page.music #player #actions .sm-current-title span {
  display: block;
  height: 44px;
  line-height: 44px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  position: relative;
  bottom: 44px;
  padding: 0 20px;
  text-align: center; }

@media (orientation: landscape) {
  .page.music #player #actions .sm-current-title span {
    display: block;
    height: auto;
    line-height: inherit;
    background-color: transparent;
    padding: 0;
    bottom: 8px;
    color: #fff; } }

.page.music #player .playlist {
  width: 400px;
  list-style: none;
  padding: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .playlist {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: auto; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .playlist {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: auto; } }

@media (max-width: 767px) {
  .page.music #player .playlist {
    display: none; } }

.page.music #player .playlist a {
  display: block;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  color: #888;
  font-size: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  margin-bottom: 1px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .playlist a {
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .playlist a {
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0; } }

@media (max-width: 767px) {
  .page.music #player .playlist a {
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0;
    border-radius: 0; } }

.page.music #player .playlist a span {
  pointer-events: none; }

.page.music #player .playlist a.current {
  background-color: white;
  color: #000; }

.page.music #player .playlist a.current:hover {
  background-color: white; }

.page.music #player .playlist a.current .nb:after {
  background-color: #000 !important; }

.page.music #player .playlist a:hover {
  background-color: #ffc600;
  color: #000; }

.page.music #player .playlist a:hover .nb:after {
  background-color: #fff; }

.page.music #player .playlist .nb:after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #888;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 8px;
  position: relative;
  bottom: 2px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .page.music #player .restrict {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 44px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page.music #player .restrict {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 44px; } }

@media (max-width: 767px) {
  .page.music #player .restrict {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 44px; } }

#progressBar {
  position: relative;
  width: 200px;
  height: 16px;
  display: inline-block;
  margin-left: 10px; }

@media (min-width: 992px) and (max-width: 1199px) {
  #progressBar {
    width: 100%;
    margin-left: 0;
    top: 13px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #progressBar {
    width: 100%;
    margin-left: 0;
    top: 13px; } }

@media (max-width: 767px) {
  #progressBar {
    position: absolute;
    top: calc(100% - 46px);
    left: 10%;
    width: 80%;
    margin-left: 0;
    display: none; } }

@media (max-width: 767px) and (min-height: 500px) {
  #progressBar {
    display: block; }
  #progressBar #position {
    display: none; } }

#progressBar #bar-outer {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 7px; }

#progressBar #bar-inner {
  position: absolute;
  height: 4px;
  background-color: #ffc600; }

#progressBar #position {
  background-color: #fff !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0 !important;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  font-size: 12px;
  text-indent: -9999px;
  position: absolute;
  left: -8px;
  top: -6px;
  -webkit-box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1); }

#progressBar #position:before {
  content: "";
  display: block;
  background-color: #000;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px); }

body {
  background-color: transparent !important; }

.page {
  padding-top: 122px; }

@media (max-width: 767px) {
  .page {
    padding-top: 44px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .page {
    padding-top: 44px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .page {
    padding-top: 44px; } }
