// _contact.scss
@import 'variables';
@import 'mixins';

#contactModal{
    z-index: 100000 !important;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    width: 600px;
    top: 0;
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    @include timed-transition(.3s);

    &.isOpen{
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    &.isNotOpen{
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    h1{
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        margin: 0;
        padding: 30px;
        border-bottom: 1px solid #eee;
    }

    .content{
        padding: 30px;
    }

    .card{
        margin-bottom: 40px;

        &.last{
            margin-bottom: 0;
        }

        h2{
            font-family: 'Oswald', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            color: #bbb;
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 5px !important;
        }

        a{
            font-size: 14px;
            color: $secondaryC;
        }
    }

    .social{

        h2{
            font-family: 'Oswald', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            color: #bbb;
            padding-top: 0;
            margin-top: 0;
        }

        ul{
            list-style: none;
            padding: 0;
            display: inline-block;
            position: relative;
        }

        li{
            float: left;
        }

        a{
            font-size: 44px;

            &.facebook{
                color: #3b5998;
            }

            &.twitter{
                color: #1da1f2;
            }

            &.soundcloud{
                color: #ff3300;
            }

            &.instagram{
                color: #ffdc80;
            }

            &.youtube{
                color: #cd201f;
            }
        }
    }

}