// _home.scss
@import 'variables';
@import 'mixins';

.main.page{

    .navbar-main{
        @include timed-transition(.3s);
    }

    &.contactModalIsOpen{

        .centered-img{
            display: none;
        }

        .navbar-main{
            -moz-transform: translateY(44px);
            -webkit-transform: translateY(44px);
            -o-transform: translateY(44px);
            -ms-transform: translateY(44px);
            transform: translateY(44px);
        }

    }

}

.centered-img{
    position: absolute;
    top: calc(50% - 106px);
    left: calc(50% - 203px);
    width: 500px;
    height: 220px;
    
    @include respond-to(xs){
        top: calc(50% - 53px);
        left: calc(50% - 102px);
        width: 203px;
        height: 106px;
        
        img{
            width: 203px;
            height: 106px;
        }
    }
    
    @include respond-to(sm){
        top: calc(50% - 53px);
        left: calc(50% - 102px);
        width: 203px;
        height: 106px;
        
        img{
            width: 203px;
            height: 106px;
        }
    }
    
}