// _music.scss
@import 'variables';
@import 'mixins';

.page.music{

    #player{

        .progressbar{
            width: 450px;
            height: 16px;
            margin: 0 auto;
            position: relative;

            .current, .duration{
                color: #fff;
                font-weight: 300;
                font-size: 12px;
                display: inline-block;
                position: absolute;
            }

            .current{
                left: 0;
            }

            .duration{
                right: 0;
            }
        }

        .actions{
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            padding-top: 66px;
            padding-right: 400px;
            background-color: #111;

            .custom-container{
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .vertical-align{
                z-index: 10;
            }

            .background{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                -o-background-size: cover !important;
                background-size: cover !important;
                -webkit-filter: blur(25px);
                -moz-filter: blur(25px);
                -o-filter: blur(25px);
                -ms-filter: blur(25px);
                filter: blur(25px);
            }

            button{
                background-color: transparent;
                border: none;
                font-size: 44px;
                color: #fff;
                height: 88px;
                width: 88px;
                line-height: 88px;
                text-decoration: none;
                outline-style: none;
            }

            .backward, .forward{
                font-size: 28px;
            }

            .play i{
                position: relative;
                top: 10px;
            }

            .name{
                color: #fff;
                font-size: 16px;
                font-weight: 200;
                margin-top: 40px;
                margin-bottom: 0;
            }
        }

        .playlist{

            position: fixed;
            height: 100%;
            width: 400px;
            right: 0;
            top: 0;
            padding-top: 66px !important;
            background-color: $primaryC;
            list-style: none;
            padding: 0;

            .item{
                border-bottom: 1px solid rgba(0,0,0, .1);
            }

            a{
                display: block;
                padding: 20px 30px;
                text-decoration: none;

                span{
                    pointer-events: none;
                }

                &:hover{
                    text-decoration: none;
                    background-color: rgba(0,0,0, .05);
                }

                &.current{
                    background-color: #e5b200;

                    &:hover{
                        background-color: #e5b200;
                    }
                }
            }

            .nb{
                color: #000;
                font-size: 22px;
                font-weight: 200;
                display: block;
                float: left;
                margin-right: 20px;
                position: relative;
                top: 5px;
            }

            .title{
                font-size: 14px;
                font-weight: 400;
                color: #000;
                display: block;
            }

            .artist{
                font-size: 14px;
                font-weight: 400;
                color: #000;
                opacity: .5;
                display: block;
            }

        }

    }

}

