// _music.scss
@import 'variables';
@import 'mixins';

.page.music{

    &.contactModalIsOpen{

        #player{

            @include respond-to(lg){
                -webkit-opacity: .1;
                -moz-opacity: .1;
                opacity: .1;
            }

            @include respond-to(md){
                -webkit-opacity: 0;
                -moz-opacity: 0;
                opacity: 0;
            }

            @include respond-to(sm){
                -webkit-opacity: 0;
                -moz-opacity: 0;
                opacity: 0;
            }

            @include respond-to(xs){
                -webkit-opacity: 0;
                -moz-opacity: 0;
                opacity: 0;
            }
        }

        @include respond-to(lg){

            .navbar-main{
                -webkit-opacity: .1;
                -moz-opacity: .1;
                opacity: .1;
            }

        }

        @include respond-to(md){

            .navbar-main{
                -moz-transform: translateY(44px);
                -webkit-transform: translateY(44px);
                -o-transform: translateY(44px);
                -ms-transform: translateY(44px);
                transform: translateY(44px);
            }

        }

        @include respond-to(sm){

            .navbar-main{
                -moz-transform: translateY(44px);
                -webkit-transform: translateY(44px);
                -o-transform: translateY(44px);
                -ms-transform: translateY(44px);
                transform: translateY(44px);
            }

        }

        @include respond-to(xs){

            .navbar-main{
                -moz-transform: translateY(44px);
                -webkit-transform: translateY(44px);
                -o-transform: translateY(44px);
                -ms-transform: translateY(44px);
                transform: translateY(44px);
            }

        }

    }

    #player{

        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        @include timed-transition(.3s);

        .cover{
            margin-right: 20px;
            -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
            box-shadow: 0 0 25px 0 rgba(0,0,0,.2);

            @include respond-to(md){
                margin-right: 0;
                width: 100%;
                padding-top: 40px;
                text-align: center;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            @include respond-to(sm){
                margin-right: 0;
                width: 100%;
                padding-top: 40px;
                text-align: center;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            @include respond-to(xs){
                margin-right: 0;
                width: 100%;
                -webkit-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .15);
                box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .15);

                @include respond-to(lnd){
                    padding-top: 20px;
                    text-align: center;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }

            img{
                @include respond-to(md){
                    width: 250px;
                    height: 250px;
                }

                @include respond-to(sm){
                    width: 50%;
                    height: 50%;
                }

                @include respond-to(xs){
                    width: 100%;
                    height: 100%;

                    @include respond-to(lnd){
                        width: 125px;
                        height: 125px;
                    }
                }
            }
        }

        .cta{
            width: 400px;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(255,255,255, .1);

            @include respond-to(md){
                width: 100%;
                height: 66px;
                position: absolute;
                bottom: 44px;
                margin-bottom: 0;
                border-bottom: none;
                border-top: 1px solid rgba(255,255,255, .1);
                padding-top: 10px;
                padding-bottom: 10px;
                -webkit-box-shadow: 0 -25px 25px 0 rgba(0,0,0, 0.15);
                box-shadow: 0 -25px 25px 0 rgba(0,0,0, 0.15);
                padding-left: 150px;
                padding-right: 20px;
            }

            @include respond-to(sm){
                width: 100%;
                height: 66px;
                position: absolute;
                bottom: 44px;
                margin-bottom: 0;
                border-bottom: none;
                border-top: 1px solid rgba(255,255,255, .1);
                padding-top: 10px;
                padding-bottom: 10px;
                -webkit-box-shadow: 0 -25px 25px 0 rgba(0,0,0, 0.15);
                box-shadow: 0 -25px 25px 0 rgba(0,0,0, 0.15);
                padding-left: 150px;
                padding-right: 20px;
            }

            @include respond-to(xs){
                width: 100%;
                height: 100%;
                margin-bottom: 0;
                border-bottom: none;
                padding: 0;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .current{
                color: #fff;
                font-weight: 400;
                font-size: 12px;
                display: inline-block;
                position: relative;
                margin-left: 10px;
                bottom: 3px;

                @include respond-to(md){
                    display: none;
                }

                @include respond-to(sm){
                    display: none;
                }

                @include respond-to(xs){
                    display: none;
                }
            }
        }

        .buttons{
            display: inline-block;

            @include respond-to(md){
                position: absolute;
                left: 0;
                top: 10px;
            }

            @include respond-to(sm){
                position: absolute;
                left: 0;
                top: 10px;
            }

            @include respond-to(xs){
                padding: 0;
            }
        }

        #actions{

            @include respond-to(md){
                width: 100%;
                height: 100%;
                padding-bottom: 110px;
                position: absolute;
                padding-top: 310px;
            }

            @include respond-to(sm){
                width: 100%;
                height: 100%;
                padding-bottom: 110px;
                position: absolute;
                padding-top: 470px;
            }

            @include respond-to(xs){
                width: 100%;
                height: 100%;
                padding-bottom: 44px;
                position: absolute;
                padding-top: 100%;

                @include respond-to(lnd){
                    padding-top: 160px;
                }
            }

            button{
                background-color: transparent;
                border: none;
                font-size: 16px;
                color: #fff;
                height: 44px;
                width: 44px;
                line-height: 44px;
                text-decoration: none;
                outline-style: none;

                @include respond-to(xs){
                    width: 66px;
                    height: 66px;
                    line-height: 66px;
                    font-size: 20px;
                }
            }

            .play{
                border: 1px solid $primaryC;
                @include border-radius(44px);

                i{
                    position: relative;
                    bottom: 1px;
                    left: 1px;
                    top: inherit;
                }
            }

            .sm-current-title{
                height: 0;

                span{
                    display: block;
                    height: 44px;
                    line-height: 44px;
                    background-color: rgba(255,255,255, .9);
                    color: #000;
                    position: relative;
                    bottom: 44px;
                    padding: 0 20px;
                    text-align: center;

                    @include respond-to(lnd){
                        display: block;
                        height: auto;
                        line-height: inherit;
                        background-color: transparent;
                        padding: 0;
                        bottom: 8px;
                        color: #fff;
                    }

                }
            }

        }

        .playlist{
            width: 400px;
            list-style: none;
            padding: 0;

            @include respond-to(md){
                width: 100%;
                margin: 0;
                height: 100%;
                overflow: auto;
            }

            @include respond-to(sm){
                width: 100%;
                margin: 0;
                height: 100%;
                overflow: auto;
            }

            @include respond-to(xs){
                display: none;
            }

            a{
                display: block;
                height: 32px;
                line-height: 32px;
                text-decoration: none;
                color: #888;
                font-size: 12px;
                @include border-radius(3px);
                padding: 0 10px;
                margin-bottom: 1px;
                @include transition;

                @include respond-to(md){
                    padding: 0 20px;
                    height: 44px;
                    line-height: 44px;
                    border-bottom: 1px solid rgba(255,255,255, .1);
                    @include border-radius(0);
                }

                @include respond-to(sm){
                    padding: 0 20px;
                    height: 44px;
                    line-height: 44px;
                    border-bottom: 1px solid rgba(255,255,255, .1);
                    @include border-radius(0);
                }

                @include respond-to(xs){
                    padding: 0 20px;
                    height: 44px;
                    line-height: 44px;
                    border-bottom: 1px solid rgba(255,255,255, .1);
                    @include border-radius(0);
                }

                span{
                    pointer-events: none;
                }

                &.current{
                    background-color: rgba(255,255,255, 1);
                    color: #000;

                    &:hover{
                        background-color: rgba(255,255,255, 1);
                    }

                    .nb{
                        &:after{
                            background-color: #000 !important;
                        }
                    }
                }

                &:hover{
                    background-color: $primaryC;
                    color: #000;

                    .nb{
                        &:after{
                            background-color: #fff;
                        }
                    }
                }
            }

            .nb{
                &:after{
                    content: "";
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background-color: #888;
                    @include border-radius(4px);
                    margin-left: 10px;
                    margin-right: 8px;
                    position: relative;
                    bottom: 2px;
                }
            }

        }

        .restrict{

            @include respond-to(md){
                position: relative;
                height: 100%;
                width: 100%;
                padding-bottom: 44px;
            }

            @include respond-to(sm){
                position: relative;
                height: 100%;
                width: 100%;
                padding-bottom: 44px;
            }

            @include respond-to(xs){
                position: relative;
                height: 100%;
                width: 100%;
                padding-bottom: 44px;
            }

        }

    }

}

