// _nav.scss
@import 'variables';
@import 'mixins';

.navbar-desktop{
    height: 66px;
    background-color: transparent;
    z-index: 10000;
    
    nav{
        text-align: center;
    }
    
    ul{
        list-style: none;
        padding: 0;
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    
    li{
        position: relative;
        padding: 0 20px;
        height: 66px;
        line-height: 66px;
        &:last-child{
            margin-right: 20px;
        }
        
        a{
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            color: $primaryC;
            font-weight: 700;
            font-stretch: normal;
            
            &.active{
                color: #444;
                pointer-events: none;
                
                &:before{
                    background-color: #444;
                    height: 3px;
                }
                
                &:hover{
                    color: #444;
                    &:before{
                        background-color: #444;
                        height: 3px;
                    }
                }
            }
            
            &:before{
                content: "";
                position: absolute;
                height: 0px;
                width: 100%;
                left: 0;
                top: 0;
                background-color: $primaryC;
                @include transition();
            }
            
            &:hover{
                text-decoration: none;
                color: $primaryC;
                
                &:before{
                    background-color: $primaryC;
                    height: 3px;
                }
                
            }
        }
    }
}

.navbar-mobile{
    height: 44px;
    min-height: 44px;
    background-color: transparent;
    z-index: 999999;
    
    h1{
        margin: 0;
        height: 44px;
        
        a{
            display: inline-block;
            position: relative;
            top: 6px;
            width: 41px;
            height: 32px;
            text-indent: -9999px;
            background: url(../assets/logo@2x.png) no-repeat center;
            background-size: 41px 32px;
        }
    }
    
    button{
        height: 44px;
        background-color: transparent;
        border: none;
        color: $primaryC;
        
        i{
            font-size: 1.6em;
            color: $primaryC;
            padding-left: 5px;
            position: relative;
            top: 2px;
        }
        
        span{
            text-transform: uppercase;
            font-size: 10px;
            margin-left: 5px;
            line-height: 26px;
        }
    }
}

#mobileMenuModal{
    z-index: 1000000;
}

.modal-dialog{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    
    *{
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0; 
        border: none;
    }
    
    h1{
        margin: 0;
        height: 44px;
        
        a{
            display: inline-block;
            position: relative;
            top: 6px;
            width: 41px;
            height: 32px;
            text-indent: -9999px;
            background: url(../assets/logo-white@2x.png) no-repeat center;
            background-size: 41px 32px;
        }
    }
    
    .modal-content{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #222;
        
        .row{
            
            &:first-child{
                background-color: #000;
            }

        }
    }
    
    button{
        height: 44px;
        background-color: #000;
        border: none;
        color: #ddd;
        
        i{
            font-size: 2.5em;
            color: $primaryC;
            position: relative;
            bottom: 9px;
            margin-left: 5px;
        }
        
        span{
            text-transform: uppercase;
            font-size: 10px;
            margin-left: 5px;
            line-height: 41px;
        }
    }
    
    ul{
        list-style: none;
        padding: 0;
        
        a{
            display: block;
            height: 88px;
            line-height: 88px;
            border-bottom: 1px solid #333;
            padding-left: 20px;
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 100;
            color: $primaryC;
            
            &:hover, &:active{
                text-decoration: none;
                background-color: $primaryC;
                border: none;
                color: #fff;
            }
        }
    }
    
}