// _tourdates.scss
@import 'variables';
@import 'mixins';

.page.tourdates{
    
    .navbar-desktop{
        background-color: #000;
    }
    
    padding-top: 66px;
    
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    li{
        height: 66px;
        
        @include respond-to(sm){
            height: auto;
            text-align: center;
        }
        
        @include respond-to(xs){
            height: auto;
            text-align: center;
        }
    }
    
    .odd {
      background-color: #222;
    }
    
    .even {
      background-color: #111;
    }
    
    .even, .odd{
        padding: 0 100px;
        
        @include respond-to(md){
            padding: 0;
        }
        
        @include respond-to(sm){
            padding: 20px 0;
        }
        
        @include respond-to(xs){
            padding: 20px 0;
        }
    }
    
    .day{
        color: #fff;
        font-size: 44px;
        font-weight: 100;
        float: left;
        display: block;
        position: relative;
        top: 1px;
        
        @include respond-to(sm){
            font-size: 14px;
            float: none;
            display: inline-block;
            top: 0;
            font-weight: 200;
            color: #888;
        }
        
        @include respond-to(xs){
            font-size: 14px;
            float: none;
            display: inline-block;
            top: 0;
            font-weight: 200;
            color: #888;
        }
    }
    
    .cont{
        float: left;
        position: relative;
        max-width: 100px;
        
        @include respond-to(sm){
            max-width: none;
            float: none;
            display: inline-block;
        }
        
        @include respond-to(xs){
            max-width: none;
            float: none;
            display: inline-block;
        }
    }
    
    .month, .year{
        color: #888;
        font-size: 14px;
        font-weight: 200;
        text-transform: uppercase;
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 10px;
        
        @include respond-to(sm){
            position: static;
        }
        
        @include respond-to(xs){
            position: static;
        }
    }
    
    .year{
        top: 32px;
    }
    
    .city{
        color: #fff;
        font-size: 16px;
        font-weight: 200;
        text-transform: uppercase;
        
         @include respond-to(sm){
            font-size: 22px;
        }
        
        @include respond-to(xs){
            font-size: 22px;
        }
    }
    
    .venue{
        color: #888;
        font-size: 14px;
        font-weight: 200;
    }
    
    .city, .venue{
        position: relative;
        top: 12px;
        
        @include respond-to(sm){
            top: 0;
        }
        
        @include respond-to(xs){
            top: 0;
        }
        
    }
    
    .scheduled{    
        font-size: 24px;
        font-weight: 100;
        color: #888;
        padding-top: 16px;
        
        @include respond-to(sm){
            padding-top: 0;
            font-size: 16px;
            margin-bottom: 20px;
        }
        
        @include respond-to(xs){
            padding-top: 0;
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    
    .btnT{
        display: inline-block;
        height: 44px;
        padding: 0 20px;
        line-height: 44px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        color: #000;
        background-color: $primaryC;
        position: relative;
        top: 10px;
        float: right;
        
        &:hover{
            text-decoration: none;
        }
        
        @include respond-to(sm){
            float: none;
            top: 0;
        }
        
        @include respond-to(xs){
            float: none;
            top: 0;
        }
        
    }
    
}