@font-face {
  font-family: 'mfg';
  src: url('../font/mfg.eot?96316848');
  src: url('../font/mfg.eot?96316848#iefix') format('embedded-opentype'),
       url('../font/mfg.woff2?96316848') format('woff2'),
       url('../font/mfg.woff?96316848') format('woff'),
       url('../font/mfg.ttf?96316848') format('truetype'),
       url('../font/mfg.svg?96316848#mfg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mfg';
    src: url('../font/mfg.svg?96316848#mfg') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mfg";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dribbble-circled:before { content: '\f04f'; } /* '' */
.icon-dribbble:before { content: '\f050'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-github-circled:before { content: '\f054'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-twitter-circled:before { content: '\f057'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-mfg-logo:before { content: '\f05f'; } /* '' */
.icon-mfg-logo-circled:before { content: '\f060'; } /* '' */
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-soundcloud-circled:before { content: '\f08a'; } /* '' */