<div id="contactModal" class="customModal" click-outside="contact.onClose()" outside-if-not="contactModalLink" ng-class="{'isOpen': contact.isOpen == true, 'isNotOpen': contact.isOpen == false}">

    <h1>Contact information</h1>

    <div class="row content">

        <div class="col-sm-6">

            <div class="row">

                <div class="col-sm-12">

                    <div class="card">

                        <h2>Bookings</h2>
                        <a href="mailto:{{ contact.data.bookings[0] }}">{{ contact.data.bookings[0] }}</a>

                    </div>

                </div>

                <div class="col-sm-12">

                    <div class="card">

                        <h2>Management</h2>
                        <a href="mailto:{{ contact.data.management[0] }}">{{ contact.data.management[0] }}</a>

                    </div>

                </div>

                <div class="col-sm-12">

                    <div class="card last">

                        <h2>Press</h2>
                        <a href="{{ contact.data.press[0] }}" target="_blank">Download Press-Kit</a>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-6">

            <div class="row">

                <div class="col-sm-12">

                    <div class="social">

                        <h2>Keep in touch</h2>

                        <ul>
                            <li ng-if="contact.data.facebook[0]"><a href="{{ contact.data.facebook[0] }}" class="facebook" target="_blank"><i class="icon-facebook-circled"></i></a></li>
                            <li ng-if="contact.data.twitter[0]"><a href="{{ contact.data.twitter[0] }}" class="twitter" target="_blank"><i class="icon-twitter-circled"></i></a></li>
                            <li ng-if="contact.data.soundcloud[0]"><a href="{{ contact.data.soundcloud[0] }}" class="soundcloud" target="_blank"><i class="icon-soundcloud-circled"></i></a></li>
                            <li ng-if="contact.data.instagram[0]"><a href="{{ contact.data.instagram[0] }}" class="instagram" target="_blank"><i class="icon-instagram-circled"></i></a></li>
                            <li ng-if="contact.data.youtube[0]"><a href="{{ contact.data.youtube[0] }}" class="youtube" target="_blank"><i class="icon-youtube-play"></i></a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>