<div id="player">

    <div class="actions">

        <div class="custom-container">

            <div class="vertical-align">
                <div class="cover text-center">
                    <img src="{{ audio.currentTrackCover }}" alt="" width="450" height="450">
                </div>

                <div class="name text-center">
                    <span class="artist">{{ audio.currentTrackArtist }}</span> - <span class="title">{{ audio.currentTrackTitle }}</span>
                </div>

                <div class="progressbar">

                    <div class="current">
                        <span class="currentTimeTrackDuration" ng-if="audio.currentTimeTrackDuration">{{ audio.currentTimeTrackDuration | convertToHumanMinutes }}</span>
                        <span class="currentTimeTrackDuration" ng-if="!audio.currentTimeTrackDuration">0:00</span>
                    </div>

                    <player-progress-bar></player-progress-bar>

                    <div class="duration">
                        <span class="trackduration" ng-if="audio.currentTrackDuration">{{ audio.currentTrackDuration | convertToHumanMinutes }}</span>
                        <span class="trackduration" ng-if="!audio.currentTrackDuration">0:00</span>
                    </div>

                </div>

                <div class="buttons text-center">
                    <button class="backward"><i class="glyphicon glyphicon-backward"></i></button>
                    <button class="play" ng-click="audio.play()"><i class="glyphicon glyphicon-play"></i></button>
                    <button class="forward"><i class="glyphicon glyphicon-forward"></i></button>
                </div>
            </div>

        </div>

    </div>

    <ul class="playlist">

        <li ng-repeat="music in data" class="item">

            <a href="{{ music.url }}" target="_blank" data-index="{{ $index }}" ng-click="audio.addFromPlaylist($event)">
                <span class="nb">{{ $index + 1 }}</span>
                <span class="title">{{ music.title }}</span> 
                <span class="artist">{{ music.artist }}</span>

                <custom-audio-source url="{{ music.url }}" title="{{ music.title }}" artist="{{ music.artist }}" cover="{{ music.cover }}"></custom-audio-source>

                <input type="hidden" name="nb" value="{{ $index + 1 }}">
                <input type="hidden" name="title" value="{{ music.title }}">
                <input type="hidden" name="artist" value="{{ music.artist }}">
                <input type="hidden" name="cover" value="{{ music.cover }}">
                <input type="hidden" name="url" value="{{ music.url }}">
            </a>

        </li>

    </ul>

</div>