<div class="main page">
    <style>
        html{
            background: url({{myDirectory}}assets/bg/bgM-1Bis.jpg) no-repeat center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div custom-nav menu-item-active="home"></div>
    <div class="centered-img">
        <img src="{{myDirectory}}assets/big-logo@2x.png" width="500" height="220" alt="Towsers logo">
        <div>{{data.page.custom_fields}}</div>
    </div>
</div>