<header class="navbar navbar-main">
    <nav role="navigation">
        <ul class="navbar-nav clearfix left">
            <li><div custom-nav-link link="/towsers" page="home" active="{{menuItemActive}}"></div></li>
            <li><div custom-nav-link link="/music" page="music" active="{{menuItemActive}}"></div></li>
            <li><div custom-nav-link link="/tour-dates" page="tour-dates" active="{{menuItemActive}}"></div></li>
            <!--<li><div custom-nav-link link="/contact" page="contact" active="{{menuItemActive}}"></div></li>-->
            <li><div><contact-nav-link></contact-nav-link></div></li>
        </ul>
        <ul class="social clearfix right">
            <li><a href="https://www.facebook.com/towsers" class="facebook" target="_blank"><i class="icon-facebook-circled"></i></a></li>
            <li><a href="https://twitter.com/Towwwsers" class="twitter" target="_blank"><i class="icon-twitter-circled"></i></a></li>
            <li><a href="https://soundcloud.com/towsers" class="soundcloud" target="_blank"><i class="icon-soundcloud-circled"></i></a></li>
        </ul>
    </nav>
</header>
<contact-modal></contact-modal>
