<header class="navbar navbar-desktop navbar-fixed-top hidden-sm hidden-xs">
    <h1 class="pull-left"><a href="/towsers/">Towsers</a></h1>
    <nav class="pull-right" role="navigation">
        <ul class="navbar-nav">
            <li><div custom-nav-link link="/towsers" page="home" active="{{menuItemActive}}"></div></li>
            <li><div custom-nav-link link="/music" page="music" active="{{menuItemActive}}"></div></li>
            <li><div custom-nav-link link="/news" page="news" active="{{menuItemActive}}"></div></li>
            <li><div custom-nav-link link="/tour-dates" page="tour-dates" active="{{menuItemActive}}"></div></li>
            <li><div custom-nav-link link="/contact" page="contact" active="{{menuItemActive}}"></div></li>
        </ul>
    </nav>
</header>

<header class="navbar navbar-mobile navbar-fixed-top hidden-md hidden-lg">
  
    <div class="row">
     
        <div class="col-sm-4 col-xs-4">
         
            <button type="button" data-toggle="modal" data-target="#mobileMenuModal">
                <i class="glyphicon glyphicon-menu-hamburger pull-left"></i>
                <span class="pull-left">Menu</span>
            </button>
         
        </div>
        
        <div class="col-sm-4 col-xs-4">
            
            <h1 class="text-center"><a href="/towsers/">Towsers</a></h1>
            
        </div>
      
    </div>

</header>

<div class="modal fade" id="mobileMenuModal" tabindex="1" role="dialog" aria-labelledby="mobile menu">
    
    <div class="modal-dialog" role="document">
       
        <div class="modal-content">
         
            <div class="row">
               
                <div class="col-sm-4 col-xs-4">
                
                    <button type="button" data-dismiss="modal">
                        <i class="pull-left">&times;</i>
                        <span class="pull-left">Cancel</span>
                    </button>    
                    
                </div>
                
                <div class="col-sm-4 col-xs-4">
            
                    <h1 class="text-center"><a href="/towsers/">Towsers</a></h1>

                </div>
                
            </div>
            
            <div class="row">
                
                <div class="col-sm-12 col-xs-12">
                    
                    <nav role="navigation">
                       
                        <ul>
                           
                            <li>
                                <a href="/towsers/" ng-class="{'active disabled': menuItemActive == 'home'}">
                                    Home
                                </a>
                            </li>
                            
                            <li>
                                <a href="/towsers/music" ng-class="{'active disabled': menuItemActive == 'music'}" >
                                    Music
                                </a>
                            </li>
                            
                            <li>
                                <a href="/towsers/news" ng-class="{'active disabled': menuItemActive == 'news'}">
                                    News
                                </a>
                            </li>
                            
                            <li>
                                <a href="/towsers/tour-dates" ng-class="{'active disabled': menuItemActive == 'tour-dates'}">
                                    Tour dates
                                </a>
                            </li>
                            
                            <li>
                                <a href="/towsers/contact" ng-class="{'active disabled': menuItemActive == 'contact'}">
                                    Contact
                                </a>
                            </li>
                            
                        </ul>
                        
                    </nav>
                    
                </div>
                
            </div>
          
        </div>
        
    </div>
    
</div>
