<div class="tourdates page">
   
    <style>
        html{
            background: url({{myDirectory}}assets/bg/bgM-1.jpg) no-repeat center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    
    <div custom-nav menu-item-active="tour-dates"></div>
    
    <div class="container-fluid">

        <div class="mobileOverflow">

            <div class="relativePos">

                <ul>
                    <li class="tourdate row" ng-repeat="tourdate in data.posts" ng-class-odd="'odd'" ng-class-even="'even'">

                        <a href="{{tourdate.custom_fields.tickets_links[0]}}" class="restrict" target="_blank">

                            <div class="date">

                                <time datetime="{{tourdate.custom_fields.date[0] * 1000| date:'yyyy-MM-dd'}}">

                                    <span class="day">
                                        {{tourdate.custom_fields.date[0] * 1000| date:'dd'}}/{{tourdate.custom_fields.date[0] * 1000| date:'MM'}}/{{tourdate.custom_fields.date[0] * 1000| date:'yyyy'}}
                                    </span>

                                </time>

                            </div>

                            <div class="location">

                                <div class="venue">
                                    <span>{{tourdate.custom_fields.venue[0]}}</span>
                                </div>

                                <div class="city">
                                    <span>{{tourdate.custom_fields.city[0]}}</span>
                                </div>

                            </div>

                            <div class="time hidden-xs hidden-sm hidden-md">

                                <time datetime="{{tourdate.custom_fields.starts_at[0]}}">
                                    {{tourdate.custom_fields.starts_at[0]}}
                                </time>

                                -

                                <time datetime="{{tourdate.custom_fields.ends_at[0]}}">
                                    {{tourdate.custom_fields.ends_at[0]}}
                                </time>

                            </div>

                            <div class="button">

                                <button>Buy tickets</button>

                            </div>

                        </a>

                    </li>
                </ul>

            </div>

        </div>
        
    </div>
    
</div>